.form-control.is-invalid {
    border-color: #e3342f !important;
    padding-right: calc(1.6em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23e3342f' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23e3342f' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
    background-repeat: no-repeat;
    background-position: center right calc(0.4em + 0.1875rem);
    background-size: calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
}

.form-control.is-invalid:focus {
    border-color: #e3342f !important;
    box-shadow: 0 0 0 0.2rem rgba(227, 52, 47, 0.25) !important;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    color: #e3342f;
}

.form-control.is-invalid ~ .invalid-feedback {
    display: block;
}